#python files
*.ipynb_checkpoints
*-checkpoint.ipynb
*egg-info
*.pyc

#folders
project/data/*
!project/data/README.md
project/Figures/
imputeLCMD_*
*.snakemake/
workflows/maxquant/mqpar_xmls/
*snakemake.log


#
.pdf
*.html

workflows/maxquant/mqpar_xmls/
workflows/maxquant/out/
*.moab