#python files
*.ipynb_checkpoints
*-checkpoint.ipynb
*egg-info
*.pyc

#folders
project/data/*
!project/data/README.md
project/Figures/
imputeLCMD_*
workflows/maxquant/.snakemake/
workflows/maxquant/mqpar_xmls/
workflows/maxquant/out/
*snakemake.log
#
.pdf
*.html

workflows/maxquant/.snakemake/
workflows/maxquant/mqpar_xmls/
workflows/maxquant/.out/
