name: Build workflow website on public Alzheimer dataset (for protein groups)
on:
  pull_request:
    branches: [main, dev]
  release:
      types: [published]
  schedule:
    - cron: '0 4 * * 3,6'
jobs:
  run-workflow-and-build-website:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Miniconda
      # ! change action https://github.com/mamba-org/setup-micromamba
      uses: conda-incubator/setup-miniconda@v2
      with: 
        miniforge-variant: Mambaforge
        # miniforge-version: latest
        use-mamba: true
        channel-priority: disabled
        python-version: "3.8"
        environment-file: environment.yml
        activate-environment: vaep
        auto-activate-base: true
        # auto-update-conda: true
    - name: Dry-run workflow
      run: | 
        cd project
        snakemake -s workflow/Snakefile_v2.smk --configfile config/alzheimer_study/config.yaml -p -c1 -n
    - name: Run demo workflow (integration test)
      continue-on-error: true
      run: | 
        cd project
        snakemake -s workflow/Snakefile_v2.smk --configfile config/alzheimer_study/config.yaml -p -c4 -k
    - name: Run demo workflow again (in case of installation issues)
      continue-on-error: true
      run: | 
        cd project
        snakemake -s workflow/Snakefile_v2.smk --configfile config/alzheimer_study/config.yaml -p -c4 -k
    - name: Run demo workflow again (in case of installation issues) with one thread
      continue-on-error: true
      run: | 
        cd project
        snakemake -s workflow/Snakefile_v2.smk --configfile config/alzheimer_study/config.yaml -p -c1 -k
    - name: Run differential analysis workflow
      run: | 
        cd project
        snakemake -s workflow/Snakefile_ald_comparison.smk --configfile config/alzheimer_study/comparison.yaml -p -c4
    - name: Install website dependencies
      run: |
        pip install .[docs]
    - name: Build imputation comparison website
      run: |
        pimms-setup-imputation-comparison -f project/runs/alzheimer_study/
        pimms-add-diff-comp -f project/runs/alzheimer_study/ -sf_cp project/runs/alzheimer_study/diff_analysis/AD
        cd project/runs/alzheimer_study/
        sphinx-build -n --keep-going -b html ./ ./_build/
    - name: Archive results
      uses: actions/upload-artifact@v3
      with:
        name: alzheimer-study
        path: project/runs/alzheimer_study/
    - name: Publish workflow as website
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: project/runs/alzheimer_study/_build/